main {
    margin-top: 66px;
}
.accounts-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.accounts-container table thead th {
    font-size: 16px !important;
}

.fullname {
    width: 200px;

}

.user_name {
    width: 400px;
}

.role {
    width: 100px;
}
.action {
    width: 100px;
}

tbody tr:hover {
    background-color: #f0f0f0;
}

tbody td {
    border: 1px solid #dddbdb !important;
    font-size: 16px;
    height: 40px !important;
}

.action {
    display: flex;
    padding: 0 15px;
    justify-content: space-between;
}

.action button {
    background-color: transparent;
    border: 0;
}

.update-btn {
    color: #ecbf44;
}

.delete-btn {
    color: #f13232;
}

.row-account .save-update-account-btn {
    background-color: transparent;
    color: #fff;
    width: 120px;
    height: 40px;
    border: 0;
    border-radius: 20px;
}

.row-account .save-update-account-btn:hover {
  background-color: #3987b8;

}